/* Pawan Baral, 11/8/2018
This is only for the motal login*/
#loginH4{
  color: #007bff;
  text-align: left;
  }

#userNameWord{
  color: #007bff;
  text-align: left;
  }

#passWordP{
  color: #007bff;
  text-align: left;
  }
/*
#modalHeader
  {
    float: left;
  } */
