/* Pawan Baral, 11/8/2018
This is only for the motal login*/
#loginH4{
  color: #007bff;
  }

#userNameWord{
  color: #007bff;
  }

#passWordP{
  color: #007bff;
  }

#modalBody{
    background-color: black;
}

#modalFooter{
background-color: black;
}

#modalHeader{
background-color: black;
}
