#tags
  { border-style: solid;
    border-color: darkgray;
    border-width: 5px;
    padding: 15px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #22262a;
  }
#sectiontags
  {
    background-color: #141517;
  }
.button
  {
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: darkgray;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: yellow;
  }
h2
  {
    color: #1967D2;
  }
#closeBtn{
    color: white;
}

.modal-content{
    border:none;
}
#content img{
    margin-top: 15px;
    border:solid;
    border-width: 5px;
    border-radius: 5px;
    margin-bottom: 15px;

}
#content{
    background-color: lightgrey;

}
#pad-Left{
    padding-left:15px;
}
#rot{
    transform: rotate(90deg);
}
